.gdb_history

GPATH
GRTAGS
GTAGS

.vscode/

# binaries
*sim86
*sim86db
genPoints*
haversine*
!haversine*.h
!haversine*.cpp

listing_*
!listing_*.asm
!listing_*.cpp

# generated
listing_[0-9]*_decoded*
*.data
*.json
*.f64
